data/
.venv/
scratch/
cursor*s
embeddings.txt
__pycache__/

# Generated outputs
*.png
*.json
!servers.json
!package.json

# Windows venv files
pyvenv.cfg
Scripts/
Lib/
Include/
share/

# npm package files
node_modules/
.lock
model_cache/