fastapi
uvicorn[standard]
python-jose[cryptography]
python-multipart
python-dotenv
pydantic
pydantic-settings
httpx
cryptography

pgvector
docling
sentence-transformers
langchain
torch
# openai
google-genai
# ollama
matplotlib # For plotting and visualization during test branches
seaborn # For enhanced data visualization via matplotlib

supabase
